body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 650px;
}

span {
    font-family: "Lato", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container-principal {
    background: linear-gradient( #FA1690, #C61AA9, #7905BB, #150AAE, #04B3CE, #13EA88, #29CF20, #C5E818, #DDB010, #C3370B, #DC1A1D) no-repeat;
}

.conteudo-principal {
    height: 750px;
    border: 5px solid yellow;

    display: flex;
    background: url(../images/logo-recortada.png);
    background-repeat: no-repeat;
    background-position: top center;

    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}



p{
    color: #fff;
    margin-bottom: 3%;
    padding: 0 5%;   /*5px 20px;*/
    font-size: 1.2em;
    
}


/**** TESTE IMAGEM ***/
.teste {
    height: 700px;
    border-color: #C3370B, #DC1A1D, #DC1A1D,  #C3370B;
}

.conteudo-titulo {
    width: 100%;
    text-align: center;
}

span.titulo {
    color:#fff;
    text-transform: uppercase;
    background: radial-gradient(to right, #DC1A1D  #C3370B);
    padding: 18px;
    font-size: 35px;
    letter-spacing: 5px;
}

#imagem-caixa {
    width: 80%;
    height: 90%;
    background: url(../images/violao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto auto;
}

#imagem-academica{
    width: 80%;
    height: 90%;
    background: url(../images/diploma.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 25px rgba(120, 0, 124, 0.91);
    border: 5px solid;
    border-color: #e83cce #c61bdde2 #801997 #e824bee2;
    margin: auto;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem-academica span {
    background-color: rgba(188, 20, 203, 0.5);
    border-radius: 10px;
}

#imagem-lazer{
    width: 80%;
    height: 90%;
    background: url(../images/computamigos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 25px rgba(6, 0, 124, 0.91);
    border: 5px solid;
    border-color: #1ba3dde2 #3c48e8 #3c48e8 #1ba3dde2;
    margin: auto;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem-lazer span {
    background-color: rgba(20, 93, 203, 0.6);
    border-radius: 10px;
}

#imagem-missa{
    width: 80%;
    height: 90%;
    background: url(../images/servindo-igreja.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 25px rgba(124, 41, 0, 0.91);
    border: 5px solid;
    border-color: #C3370B #DC1A1D #DC1A1D  #C3370B;
    margin: auto;
    opacity: 0.8;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem-missa span {
    background-color: rgba(203, 20, 20, 0.6);
    border-radius: 10px;
}

#imagem-musica{
    width: 80%;
    height: 90%;
    background: url(../images/violao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 25px rgba(0, 124, 35, 0.91);
    border: 5px solid;
    border-color: #0bc33c #0b6e03 #0b6e03 #0bc33c;
    margin: auto;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem-musica span {
    background-color: rgba(41, 203, 20, 0.6);
    border-radius: 10px;
}

#imagem-arte{
    width: 80%;
    height: 90%;
    background: url(../images/desenho.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 25px rgba(109, 124, 0, 0.91);
    border: 5px solid;
    border-color:#6dc020 #c0c30b #c0c30b  #6dc020 ;
    margin: auto;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem-arte span {
    background-color: rgba(151, 203, 20, 0.6);
    border-radius: 10px;
}

/*** RELIGIAO ***/
#religiao {
    height: 720px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#box-religiao {
    background-color: rgba(232, 82, 12, 0.905);
    box-shadow: -20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    min-width: 40%;
    max-width: 40%;
    min-height: 60%;
    max-height: 90%;
    padding: 1%;
}

#box-religiao p {
    color:#ffd5c8;
}

#caminhao {
    width: 25%;
    border: 7px solid;
    border-color:#d9870de2 #d9540de2 #b23614 #c9891b;
    box-shadow: 0px 0px 30px 25px rgb(124, 0, 0);
}

#caminhao img {
    width: 100%;
}

/*** Musica ***/
#musica {
    height: 720px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#box-musica {
    background-color: rgba(90, 186, 34, 0.905);
    box-shadow: -20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    min-width: 40%;
    max-width: 40%;
    min-height: 60%;
    max-height: 90%;
    padding: 1%;
}

#box-musica p {
    color:#b6ffb7;
}

#violao {
    /*height: 80%;*/
    width: 30%;
    border: 7px solid;
    border-color:#c4e824e2 #65dd1be2 #399719 #bde83c;
    box-shadow: 0px 0px 30px 25px rgb(6, 124, 0);
}

#violao img {
    width: 100%;
}

/*** Arte ***/
#arte {
    height: 720px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

#box-arte {
    background-color: rgba(198, 160, 35, 0.905);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    min-width: 40%;
    max-width: 40%;
    min-height: 60%;
    max-height: 90%;
    padding: 1%;
}

#box-arte p {
    color:#ffe7cb;
}

#desenho {
    width: 20%;
    border: 7px solid;
    border-color:#d4ca0de2 #c6c91b #a15912 #ec8c1fe2;
    box-shadow: 0px 0px 30px 25px rgb(130, 130, 10);
}

#desenho img {
    width: 100%;
}

/*** Lazer ***/
#lazer {
    height: 800px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

#box-lazer {
    background-color: rgba(35, 152, 198, 0.905);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    min-width: 40%;
    max-width: 40%;
    padding: 1%;
}

#box-lazer p {
    color:#cbfbff;
}

#livro {
    width: 30%;
    border: 7px solid;
    border-color:#0dd4c0e2 #1bc6c9 #2f8e78e2 #12a171;
    box-shadow: 0px 0px 30px 25px rgb(10, 130, 118);
}

#livro img {
    width: 100%;
}

/*** Vida Acadêmica ***/
#vida-academica {
    height: 720px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

#box-academico {
    background-color: rgba(166, 34, 186, 0.905);
    box-shadow: -20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    min-width: 40%;
    max-width: 40%;
    padding: 1%;
}

#box-academico p {
    color:#ffb6f4;
}

#simave {
    width: 25%;
    border: 7px solid;
    border-color: #e83cce #c61bdde2 #801997 #e824bee2;
    box-shadow: 0px 0px 30px 25px rgb(97, 0, 124);
}

#simave img {
    width: 100%;
}

/*** PAGINA PRINCIPAL ***/

/* Coluna Direita */
#coluna-esquerda {
    width: 30%;
    border: 5px solid blue;
    margin-bottom: 20px;
    font-size: 1.2em;
}

#coluna-esquerda p {
    color: #00eaff;
}

#perfil {
    width: 400px;
    height: 400px;
    background: url(../images/perfil-pequeno.jpeg);
    border-radius: 200px;
    background-position: center;
    background-size: cover;
    border: 5px solid #c61bdde2;
    margin-right: 25px;
    margin-left: 25px;
}

#coluna-direita {
    width: 30%;
}

/* Coluna Meio */
#coluna-meio {
    width: 30%;
    margin-bottom: 75px;
    border: 5px solid green;
    font-size: 1.8em;
}

#coluna-meio p {
   color: #ffdc41; 
}

/*Coluna Direita */
#coluna-direita {
    width: 30%;
    margin-bottom: 20px;
    border: 5px solid red;
    font-size: 1.2em;
}

#coluna-direita p {
    color: #cd77ff;
}